// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
body {
    background-color: $white;
}

.wrapper {
    display: flex;
    width: 80%;
    margin: auto;
}

.pre-formatted {
    white-space: pre;
}